In [1]:
import pandas as pd

In [3]:
words = pd.read_csv("popular.csv")

In [4]:
words

             aa
0      aardvark
1         aargh
2         aback
3        abacus
4       abandon
...         ...
25316    zoning
25317    zonked
25318       zoo
25319      zoom
25320   zooming

[25321 rows x 1 columns]